/* Nurseries part */
@media screen and (min-width: 992px) {
    .eachHeadPart {
        padding-bottom: 20px;
    }

    .nurseriesBackImg {
        background-image: url(./Image/backImg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .nurseriesDiv {
        margin-top: 20px;
        background-color: #000000;
        opacity: 0.6;
        filter: alpha(opacity=60);
        padding-bottom: 40px;
        padding-top: 10px;
        border: 1px solid #722f37;
        border-bottom-left-radius: 20%;
        border-top-right-radius: 20%;

    }

    .size2Nurseries,
    .size2Nurseries2 {
        font-size: 25px;
        color: white;
        margin-top: 50px;
        text-align: center;
        font-family: normal;
        font-weight: bold;
    }

    .size2Nurseries2 {
        color: #722f37;
        font-weight: normal;
    }

    .size3Nurseries,
    .size4Nurseries {
        margin-top: 20px;
        font-size: 20px;
        color: white;
        text-align: center;
    }

    .size4Nurseries {
        font-size: 15px;
    }

    .borderStext {
        border-right: 2px solid white;
    }

    /*  And Nurseries part */


}

@media screen and (max-width: 992px) {
    .eachHeadPart {
        padding-bottom: 20px;
    }

    .nurseriesBackImg {
        background-image: url(./Image/backImg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .nurseriesDiv {
        margin-top: 20px;
        background-color: #000000;
        opacity: 0.6;
        filter: alpha(opacity=60);
        padding-bottom: 40px;
        padding-top: 10px;
        border: 1px solid #722f37;
        border-bottom-left-radius: 20%;
        border-top-right-radius: 20%;

    }

    .size2Nurseries,
    .size2Nurseries2 {
        font-size: 25px;
        color: white;
        margin-top: 50px;
        text-align: center;
        font-family: normal;
        font-weight: bold;
    }

    .size2Nurseries2 {
        color: #722f37;
        font-weight: normal;
    }

    .size3Nurseries,
    .size4Nurseries {
        margin-top: 20px;
        font-size: 20px;
        color: white;
    }

    .size4Nurseries {
        font-size: 15px;
    }

    .borderStext {
        border-right: 1px solid white;
        display: inline-block;
    }

    /*  And Nurseries part */


}